<ion-view title="PASCA BAYAR" id="" style="background-color: rgb(221, 0, 0);">
  <ion-content padding="true" scroll="false" class="has-header">
  
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
      <body>

        <iframe align="center" height="100%" width="100%" src="\\transaksi.klikmbc.co.id/ppob/formppob.php?s=klikmbc.co.id&sessid=billpayment-postpaid-vouchergame-leasing&w=disable" name="PULSA"></iframe>

      </body>
    </html>

  </ion-content>
</ion-view>