<ion-view title="PEMBAYARAN" id="page14" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" style="background: url(img/GJRWUuYeTAimWlHG0NCz_images.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <a ui-sref="tabsController.multipayment">
      <button id="pEMBAYARAN-button26" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-block">Multi Payment</button>
    </a>
    <a ui-sref="tabsController.pascabayar">
      <button id="pEMBAYARAN-button28" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-block">Pasca Bayar</button>
    </a>
    <a ui-sref="tabsController.games">
      <button id="pEMBAYARAN-button27" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-block">Voucher Games</button>
    </a>
    <a ui-sref="tabsController.multifinance">
      <button id="pEMBAYARAN-button29" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-block">Multi Finance</button>
    </a>
  </ion-content>
</ion-view>