<ion-view title="PEMBELIAN" id="page13" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" style="background: url(img/Q3ZXrABaSmmkAQMHOYe0_images.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <a ui-sref="tabsController.tIKETMASKAPAI">
      <button id="pEMBELIAN-button20" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-plane">TIKET MASKAPAI</button>
    </a>
    <a ui-sref="tabsController.tIKETKERETA">
      <button id="pEMBELIAN-button22" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-android-train">TIKET KERETA</button>
    </a>
    <a ui-sref="tabsController.tIKETBUS">
    <button id="pEMBELIAN-button23" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-android-bus">TIKET BUS</button>
    </a>
    <a ui-sref="tabsController.tIKETKAPALLAUT">
      <button id="pEMBELIAN-button36" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-android-boat">TIKET KAPAL LAUT</button>
    </a>
    <a ui-sref="tabsController.kAMARHOTEL">
      <button id="pEMBELIAN-button24" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-stop">KAMAR HOTEL</button>
    </a>
    <a ui-sref="tabsController.pULSA">
      <button id="pEMBELIAN-button25" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-android-phone-portrait">PULSA</button>
    </a>
    <a ui-sref="tabsController.tIKETEVENT">
      <button id="pEMBELIAN-button21" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon-right ion-ios-videocam">TIKET EVENT</button>
    </a>
  </ion-content>
</ion-view>