<ion-view title="PRODUK PERBANKAN" id="" style="background-color: rgb(221, 0, 0);">
  <ion-content padding="true" scroll="false" class="has-header">
    <div style="margin-right:-20px;">
      <button id="pRODUKPERBANKAN-button18" style="left:-10px;color:#FFFFFF;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-full button-outline">KREDIT MIKRO</button>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.mOBILEBANKING()" id="pRODUKPERBANKAN-button12" style="left:-10px;color:#FFFFFF;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-full button-outline">KPR</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="pRODUKPERBANKAN-button17" style="left:-10px;color:#FFFFFF;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-full button-outline">KPA</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pRODUKPERBANKAN-button19" style="left:-10px;color:#FFFFFF;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-full button-outline">KPM</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pRODUKPERBANKAN-button13" style="left:-10px;color:#FFFFFF;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-full button-outline">KTA</button>
    </div>
  </ion-content>
</ion-view>