<ion-view title="SETOR TUNAI" id="page16" style="background-color: rgb(221, 0, 0);">
  <ion-content padding="true" class="has-header">
    <h2 id="sETORTUNAI-heading2" style="color: rgb(255, 255, 255);">Setor Tunai Melalui Agen Terdekat</h2>
    <div id="sETORTUNAI-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">Masukkan nominal dan alamat penyetoran:</p>
    </div>
    <form id="sETORTUNAI-form5" class="list">
      <label class="item item-input" id="sETORTUNAI-input13" name="Nominal Setoran">
        <span class="input-label">Nominal Setoran</span>
        <input placeholder="" type="number" ng-model="data.nominalsetoran">
      </label>
      <label class="item item-input" id="sETORTUNAI-input14" name="Note">
        <span class="input-label">Note</span>
        <input placeholder="" type="text" ng-model="data.note">
      </label>
    </form>
    <creator-map-component options="{}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <button id="sETORTUNAI-button34" style="color:#DD0000;" class="button button-light button-block" ng-click='processdata()'>SETOR SEKARANG</button>
    <div>
      <iframe url="https://www.google.co.id"></iframe>
    </div>
  </ion-content>
</ion-view>