<ion-view title="Signup" hide-nav-bar="true" id="page7" style="background-color: rgb(221, 0, 0);">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form1" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <div>
        <img src="img/IM7TX6J0Q2NDf0vSo7YF_METAlogo.png" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Nama Lengkap</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">No Handphone</span>
          <input placeholder="" type="tel">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Email</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <button id="signup-button14" class="button button-balanced button-block">Daftar</button>
    </form>
  </ion-content>
</ion-view>